@keyframes slideInLeft {
	from {
		transform translate3d(-200%, 0, 0)
		opacity 0.2
		visibility visible
	}

	to {
		transform translate3d(0, 0, 0)
	}
}

@keyframes slideOutRight {
	from {
		transform translate3d(0, 0, 0)
	}

	to {
		visibility hidden
		transform translate3d(200%, 0, 0)
		opacity 0.2
	}
}

.card
	display inline-block
	vertical-align middle
	width 454px
	height 286px
	position relative
	transition 0.6s
	transform-style preserve-3d
	perspective 800px
	text-align left

	&_enter
		animation-duration 1s
		animation-fill-mode both
		animation-name slideInLeft

	&_leave
		animation-duration 1s
		animation-fill-mode both
		animation-name slideOutRight

	&-block
		width 100%
		height 100%
		position absolute
		transition transform 1s
		transform-style preserve-3d
		transform-origin right center

		~/_fliped &
			transform translateX(-100%) rotateY(-180deg)


	&-front
	&-back
		position absolute
		top 0
		left 0
		border-radius 14px
		background #fff
		display block
		height 100%
		width 100%
		backface-visibility hidden
		color #272727

	&-front
		background-size 100%

	&-back
		background #ecece7
		transform rotateY(180deg)

	&-banklogo
		margin-bottom -286px
		height 100%
		width 100%
		background-size 100%

	&-input
		-webkit-appearance none
		-webkit-font-smoothing antialiased
		border 0
		background none
		padding 5px
		margin 0
		color #272727
		font-size 20px
		font-family Card

		&:focus
			outline none

		~/_withbg &
			color #fff

		&_number
			width 100%
			font-size 32px
			letter-spacing -1px
		
		&_date
			width 70px

		&_cvv
			font-family Helvetica, Arial, sans-serif
			font-size 16px
			background #fff
			width 60px
			padding 5px 0
			text-align right
			transform skewX(11deg)
			color #333!important
			-webkit-appearance none

	&-number
		margin 131px 0 0 27px
		display block
		width 410px

	&-first4digits
		margin 3px 0 0 5px
		font-size 10px
		color #8e8e8e
		
		~/_withbg &
			color #fff

	&-expire
		display block
		margin-left 160px

		&-label
			margin 9px 11px 0 0
			float left
			font-size 8px
			line-height 8px
			color #8e8e8e

			~/_withbg &
				color #fff

	&-name
		margin-left 27px
		display block
		width 290px

	&-paysystem
		float right
		margin-top -58px
		margin-right 10px

	&-loader
		position absolute
		right 30px
		top 30px

	&-flip
		float right
		margin 20px 20px 0 0
		height 40px
		width 40px
		border-radius 20px
		color #666
		border 2px solid @color

		&:after
			content "\e900"
			display block
			speak none
			font-style normal
			font-weight normal
			font-variant normal
			text-transform none 
			font-family Icon
			font-size 20px
			line-height 36px
			height 100%
			width 100%
			text-align center

		~/_withbg &
			border-color #fff
			color #fff

		&_back
			color #fff
			border-color @color
			z-index 1
			margin-top 42px

	&-magnetline
		margin-top 30px
		height 65px
		width 100%
		background #333
	
	&-cvv
		margin 10px 0 0 15px
		padding 10px 3px 10px 250px
		background #fff
		width 315px