@keyframes bounce {
	0%, 100% { 
		transform: scale(0.0);
	}
	50% { 
		transform: scale(1.0);
	}
}

.loader
	height 40px
	width 40px

	&:before
	&:after
		display block
		content ''
		width 100%
		height 100%
		border-radius 50%
		background-color #333
		opacity 0.6
		position absolute
		top 0
		left 0
		animation bounce 2.0s infinite ease-in-out

	&:before
		animation-delay -1.0s