.paysystem
	width 110px
	height 64px
	background-repeat no-repeat
	background-position 50%
	background-color rgba(255,255,255,.95)
	border-radius 5px

	for name in 'mastercard' 'maestro' 'visa' 'visa_electron'
		&_{name}
			background-image: url('./assets/' + name + '.png')
			hidpr({
				background-image: url('./assets/' + name + '@2x.png')
				background-size: 90px auto
			})
