hidpr(properties)
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min-device-pixel-ratio: 1.5) {
		{properties}
	}

@require './Base'
@require './Page'
@require './Card'
@require './PaySystem'
@require './Loader'